<!doctype html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap" 
          rel="stylesheet">
    <style>
      body {
        font-family: 'Fira Code', monospace;
        margin: auto;
        width: 50%;
      }

      .result {
      border: 2px solid #ccc; 
      }
    </style>
  </head>

  <body>
    <title>Stock Price Lookup</title>
    <div class=page>
    <h1>Stock Price Lookup</h1>
    <div class=metanav>

    Please enter a ticker symbol (e.g. TSLA, AAPL, GOOG) to look up monthly closing prices of a stock (<a href="https://finance.yahoo.com/lookup/">Yahoo! Finance symbol lookup</a>):

    <h4>
      <form id='input' method='post' action='index' >
        <p>
          Ticker symbol: <input type='text' name='ticker' />  
          
        </p>

        <p>
          <input type='submit' value='Submit' />
        </p>
      </form>
    </h4>


  </div>
</div>
  </body>
</html>